@import "tailwindcss";

@theme {
  --color-brand-primary: #4f46e5; /* indigo-600 */
  --color-brand-dark: #0f172a;    /* slate-900 */
  
  --animate-slide-up: slideUp 0.4s cubic-bezier(0.16, 1, 0.3, 1);
}

@keyframes slideUp {
  from { transform: translateY(20px); opacity: 0; }
  to { transform: translateY(0); opacity: 1; }
}

@layer base {
  body {
    @apply bg-slate-50 text-slate-900 antialiased;
  }
}
